<div class="containerBet p-3">
  <app-balls [ballsArray]="ballsService.balls"></app-balls>
  <div>
    <div class="row my-5 mr-2">
      <div class="input-group col-8">
        <span class="input-group-text">{{ballsService.balls.length}}x</span>
        <input type="text" class="form-control" #input>
      </div>
      <button class="btn btn-sm btn-info col-4" (click)="onCalculateBet(input.value)">Ok</button>
    </div>
    <p class="error" *ngIf="error">Apuesta minima es 5</p>
  </div>
</div>
<div>
  <h2 class="text-center">Total: {{bet}} &euro;</h2>
  <button class="btn btn-info col-12 mb-3" (click)="onBet()">Place bet</button>
</div>
